@import "util/colors"
@import "util/varfun"

@import "modules/navbar"
@import "modules/carousel"



.firstSection
	height: 100vh
	width: 100%
	background-image: linear-gradient(rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0)),url(../img/bgb.jpg)
	background-position: center
	-webkit-background-size: cover
	background-size: cover
	background-repeat: no-repeat

#portfolio, #about, #contact
	width: 100%
	height: 100vh

#portfolio
	background-color: $portfolio-bg

#about
	background-color: $about-bg

#contact
	background-color: $contact-bg
