@import "util/colors"
@import "util/varfun"

@import "modules/navbar"
@import "plugins/unslider/unslider"
@import "modules/carousel"



.firstSection
	padding-top: 100px
	height: 100vh
	width: 100%
	background: -webkit-linear-gradient(#546E7A, #ECEFF1)
	// background-color: linear-gradient(rgba(0, 0, 0, 0.76)),rgba(0, 0, 0, 0))
	// background-color: #ECEFF1
	background-position: center
	-webkit-background-size: cover
	background-size: cover
	background-repeat: no-repeat

#portfolio, #about, #contact
	width: 100%
	height: 100vh

#portfolio
	background-color: $portfolio-bg

#about
	background-color: $about-bg

#contact
	background-color: $contact-bg
