
$navbar-item: rgba(255, 255, 255, 0.8)
$navbar-item-over: #fff

$logoColor: black
$logoHighlight: white
$logoSubColor: #3E3E3E
// $navbar-item-over: #00ffe7
//$shrink-navbar-bg: rgba(255,145,130, .7)

// $portfolio-bg: #5a5a5a
// $about-bg: #ccc
// $contact-bg: #417b6e





$shrink-navbar-bg: #3CBDBD

$aboutUs-bg: #F3F9D2
$subjects-bg: #B0BEC5
$contact-bg: #90A4AE


$compColor: #9013FE
$itColor: #B42ED9
$etcColor: #00ACED
$mechColor: #4A90E2




/* Kshitij: */
// font-family: JosefinSlab;
// font-size: 36px;
// color: #1E2C8B;
// letter-spacing: 1.5px;
// text-shadow: 0px 2px 4px rgba(0,0,0,0.50)
